<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>系统部署</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="errorMsg" style="display: none;" class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>警告！</strong>请输入合法有效的设备IP与登录密码。
</div>
<div class="page-header margin-lg-1">
    <h3>&nbsp;&nbsp;系统部署
        <small>V1.0</small>
    </h3>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <form action="/" method="post" onsubmit="return confirm_form();">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">设备IP</label>
                            <input type="text" class="form-control" id="ip" name="ip" placeholder="IP">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">登录密码</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="delete_flag">清除数据
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">灌装</button>
                    </form>

                </div>
                <div class="col-xs-8 col-md-6">
                    <p>结果展示：</p>
                    <textarea id="result_text_area" style="height: auto; width: 100%;">{{ rlt }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/autoTextarea.js"></script>

<script>
    $(document).ready(function () {
        $("#result_text_area").autoTextarea({
            maxHeight: 520,//文本框是否自动撑高，默认：null，不自动撑高；如果自动撑高必须输入数值，该值作为文本框自动撑高的最大高度
        })
        $("#result_text_area").focus();
    })

    function isValidIP(ip) {
        var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
        return reg.test(ip);
    }

    function confirm_form(){
        var ip = $('#ip').val();
        var pw = $('#password').val();
	$("#result_text_area").val("");
        if(isValidIP(ip) && pw != null && pw != ""){
            return true;
        }else{
            $("#errorMsg").show();
            return false;
        }
    }

</script>
</body>
</html>

